{% extends 'base.html' %}

{% block head %}
<title>Telenor Virtual Machine Visualization</title>
{% endblock %}

{% block body %}
<div class="form">
<h4>1. Select a zone:</h4>
    <form action="get_computes" method="GET">
        <div class="custom-select style="width:200px;">
        <select name="zone" id="zone">
        {% for i in range(dir_list_len) %}    
            <option value={{dir_list[i]}}>{{dir_list[i]}}</option>
        {% endfor %}    
        </select>
        </div>
        <br/>
        <button type="submit" value="submit"><span>Submit</span></button>
    </form>
</div>
{% endblock %}